
body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    header {
      background-color: #f9f9f9;
      padding: 20px;
      
    }
    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    nav li {
      display: inline-block;
      margin-right: 20px;
    }
    nav a {
      color: #333;
      text-decoration: none;
      font-weight: bold;
      font-size: 18px;
    }
    main {
      padding: 40px;
      text-align: center;
    }
    .banner {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    h1 {
      font-size: 48px;
      margin-top: 0;
    }
    p {
      font-size: 24px;
      color: #666;
      margin-bottom: 40px;
    }
    a {
      display: inline-block;
      background-color: #e91e63;
      color: #fff;
      text-decoration: none;
      padding: 20px 40px;
      font-weight: bold;
      border-radius: 4px;
      transition: background-color 0.2s ease-in-out;
    }
    a:hover {
      background-color: #c2185b;
    }
button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #005580;
}

    footer {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
    }