*{
    padding: 0;
    margin: 0;
    font-family: monospace;
}

.top-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  z-index: 9999;
}

nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
  position: relative;
}

nav ul li a {
  color: #fff;
  display: block;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 18px;
  margin-top: 80px;
}

.product-details {
  background-color: #fff;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.product h2 {
  font-size: 20px;
  margin-top: 0;
}

.product-details h2 {
  margin-bottom: 10px;
}

.product-price {
  font-size: 18px;
  font-weight: normal;
  color: #008000;
  margin-bottom: 10px;
}

.product img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.add-to-cart {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.add-to-cart:hover {
    background-color: #666;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 18px;
    text-align: center;
}

.cart-icon {
  position: relative;
}

.cart-icon .cart-count {
  display: inline-block;
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px;
}

